HW_02.json
{"flowContents":{"identifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","instanceIdentifier":"b23d97e0-0194-1000-f0ae-c35cd9fa2f2a","name":"HW","comments":"","position":{"x":-238.0,"y":-229.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"69176046-7097-3e0d-839f-dcc6a50db70e","instanceIdentifier":"b28787a8-0194-1000-7c10-478e1bfde93e","name":"QueryRecord","comments":"","position":{"x":-328.0,"y":968.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"dbf-default-precision":"10","data":"SELECT noted_date, AVG(temp) AS avg_temp FROM FLOWFILE GROUP BY noted_date ORDER BY avg_temp DESC LIMIT 5\n","record-writer":"85e03764-ab5b-3b01-8771-5485b1137e7d","record-reader":"98f93def-fae5-3148-bf6a-fa7bd83b2d9e","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"63c036a4-2937-35ba-b9a1-831b9a41eea8","instanceIdentifier":"b2897e98-0194-1000-aaf8-f3dc33c3be38","name":"QueryRecord","comments":"","position":{"x":128.0,"y":992.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"dbf-default-precision":"10","data":"SELECT noted_date, AVG(temp) AS avg_temp FROM FLOWFILE GROUP BY noted_date ORDER BY avg_temp ASC LIMIT 5\n","record-writer":"85e03764-ab5b-3b01-8771-5485b1137e7d","record-reader":"98f93def-fae5-3148-bf6a-fa7bd83b2d9e","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"b298f9eb-acc3-374b-a9be-9bae8e22f15f","instanceIdentifier":"b2595fcb-0194-1000-30ce-a761ba573aba","name":"UpdateRecord","comments":"","position":{"x":-160.0,"y":320.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Record Writer":"22ca1cf2-f058-3d08-b333-986a3e61fff7","/noted_date":"${noted_date:toDate(\"MM-dd-yyyy HH:mm\", \"GMT\"):format(\"yyyy-MM-dd\")}","Record Reader":"98f93def-fae5-3148-bf6a-fa7bd83b2d9e","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/noted_date":{"name":"/noted_date","displayName":"/noted_date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"f53f4a30-3924-3e61-a1e9-221bc3db60bb","instanceIdentifier":"b23dee05-0194-1000-6fc9-0da9596d1a4e","name":"GetFile","comments":"","position":{"x":-160.0,"y":-248.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"IOT-temp.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"6124e026-38fc-34ef-8aae-1eaee4c237c1","instanceIdentifier":"b27ae6d1-0194-1000-f35d-f2e1922523fd","name":"CalculateRecordStats","comments":"","position":{"x":-152.0,"y":536.0},"type":"org.apache.nifi.processors.standard.CalculateRecordStats","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"record-stats-limit":"10","temp_95":"/temp","record-stats-reader":"98f93def-fae5-3148-bf6a-fa7bd83b2d9e","temp_5":"/temp"},"propertyDescriptors":{"record-stats-limit":{"name":"record-stats-limit","displayName":"record-stats-limit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temp_95":{"name":"temp_95","displayName":"temp_95","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-stats-reader":{"name":"record-stats-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"temp_5":{"name":"temp_5","displayName":"temp_5","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"92a7b097-9bb5-3eac-8790-4185d56deba1","instanceIdentifier":"b24a2f49-0194-1000-fa98-aba10a546b47","name":"QueryRecord","comments":"","position":{"x":-160.0,"y":136.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"dbf-default-precision":"10","data":"SELECT * FROM FLOWFILE WHERE \"out/in\" = 'In'","record-writer":"218a1465-d9f1-3789-823d-9b9755ad2fd4","record-reader":"baccc501-a0f0-3c0d-8055-6eb1c84e39af","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"d2b9221f-7493-3321-8472-d3d66fe224df","instanceIdentifier":"b27e90c0-0194-1000-d2a9-7ddbffcc7478","name":"RouteOnAttribute","comments":"","position":{"x":-152.0,"y":760.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Routing Strategy":"Route to Property name","outlier":"${temp:lt(${temp_5}):or(${temp:gt(${temp_95})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"outlier":{"name":"outlier","displayName":"outlier","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["outlier"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"465e4ecc-e3ab-33b1-a91b-f3b139336a2a","instanceIdentifier":"b28a3a75-0194-1000-609b-492b44ca0565","name":"PutFile","comments":"","position":{"x":-320.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"a7d8d5b4-9dcf-33a1-89d0-896cb4d7aece","instanceIdentifier":"b247c461-0194-1000-037f-4d7e5e0057a6","name":"UpdateAttribute","comments":"","position":{"x":-160.0,"y":-64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.1.0"},"properties":{"schema name":"temperature","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema name":{"name":"schema name","displayName":"schema name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"6e60744e-c64a-3acc-af37-524bd29e58da","instanceIdentifier":"b28ba59c-0194-1000-c9bb-ecd553c2b447","name":"PutFile","comments":"","position":{"x":96.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f21d83d4-fc7d-3273-85a7-f7cfe19e23a8","instanceIdentifier":"b27f4167-0194-1000-7890-e22a3e832b1f","name":"","source":{"id":"6124e026-38fc-34ef-8aae-1eaee4c237c1","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"CalculateRecordStats","comments":"","instanceIdentifier":"b27ae6d1-0194-1000-f35d-f2e1922523fd"},"destination":{"id":"d2b9221f-7493-3321-8472-d3d66fe224df","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b27e90c0-0194-1000-d2a9-7ddbffcc7478"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"6e867dad-5013-35a8-b685-90f2e2fc2cb5","instanceIdentifier":"b247e1ae-0194-1000-caa2-241e7303ce29","name":"","source":{"id":"f53f4a30-3924-3e61-a1e9-221bc3db60bb","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"GetFile","comments":"","instanceIdentifier":"b23dee05-0194-1000-6fc9-0da9596d1a4e"},"destination":{"id":"a7d8d5b4-9dcf-33a1-89d0-896cb4d7aece","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"UpdateAttribute","comments":"","instanceIdentifier":"b247c461-0194-1000-037f-4d7e5e0057a6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"300eac94-e9a6-3f22-83d0-ce434db254d3","instanceIdentifier":"b28c0025-0194-1000-45ed-d0fa58cab1e4","name":"","source":{"id":"6e60744e-c64a-3acc-af37-524bd29e58da","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"PutFile","comments":"","instanceIdentifier":"b28ba59c-0194-1000-c9bb-ecd553c2b447"},"destination":{"id":"53c8ae35-abdc-3599-8092-09695bb182c6","type":"FUNNEL","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"Funnel","comments":"","instanceIdentifier":"b28b4b18-0194-1000-4569-bd1535e0c505"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"5ef8a423-bd66-3d75-bec6-df19299b9773","instanceIdentifier":"b28bc4d0-0194-1000-c63e-e60f9cad21b4","name":"","source":{"id":"63c036a4-2937-35ba-b9a1-831b9a41eea8","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b2897e98-0194-1000-aaf8-f3dc33c3be38"},"destination":{"id":"6e60744e-c64a-3acc-af37-524bd29e58da","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"PutFile","comments":"","instanceIdentifier":"b28ba59c-0194-1000-c9bb-ecd553c2b447"},"labelIndex":0,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"b848f6fd-4727-3ce0-a009-d823696cefe5","instanceIdentifier":"b269eeba-0194-1000-0f00-37a9a6cfcd9d","name":"","source":{"id":"92a7b097-9bb5-3eac-8790-4185d56deba1","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b24a2f49-0194-1000-fa98-aba10a546b47"},"destination":{"id":"b298f9eb-acc3-374b-a9be-9bae8e22f15f","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"UpdateRecord","comments":"","instanceIdentifier":"b2595fcb-0194-1000-30ce-a761ba573aba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"7897765b-043b-3c6f-b06f-16718e9396b8","instanceIdentifier":"b27b00df-0194-1000-5517-38614ef78654","name":"","source":{"id":"b298f9eb-acc3-374b-a9be-9bae8e22f15f","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"UpdateRecord","comments":"","instanceIdentifier":"b2595fcb-0194-1000-30ce-a761ba573aba"},"destination":{"id":"6124e026-38fc-34ef-8aae-1eaee4c237c1","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"CalculateRecordStats","comments":"","instanceIdentifier":"b27ae6d1-0194-1000-f35d-f2e1922523fd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"6556727e-1e70-3241-8880-294cab005415","instanceIdentifier":"b2899f89-0194-1000-b0c1-27a8cc0225a8","name":"","source":{"id":"d2b9221f-7493-3321-8472-d3d66fe224df","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b27e90c0-0194-1000-d2a9-7ddbffcc7478"},"destination":{"id":"63c036a4-2937-35ba-b9a1-831b9a41eea8","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b2897e98-0194-1000-aaf8-f3dc33c3be38"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"41edde86-bbfe-36c4-9057-7b8313d749f0","instanceIdentifier":"b28a53c4-0194-1000-2c18-f8ad2f0b5c8e","name":"","source":{"id":"69176046-7097-3e0d-839f-dcc6a50db70e","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b28787a8-0194-1000-7c10-478e1bfde93e"},"destination":{"id":"465e4ecc-e3ab-33b1-a91b-f3b139336a2a","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"PutFile","comments":"","instanceIdentifier":"b28a3a75-0194-1000-609b-492b44ca0565"},"labelIndex":0,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"09ea0d17-3d9a-363e-a07c-c6243b5f1cc3","instanceIdentifier":"b24a4828-0194-1000-7478-48701f713e20","name":"","source":{"id":"a7d8d5b4-9dcf-33a1-89d0-896cb4d7aece","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"UpdateAttribute","comments":"","instanceIdentifier":"b247c461-0194-1000-037f-4d7e5e0057a6"},"destination":{"id":"92a7b097-9bb5-3eac-8790-4185d56deba1","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b24a2f49-0194-1000-fa98-aba10a546b47"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"8c2ab450-55d2-37b8-bbc2-45d5c1af6086","instanceIdentifier":"b28b60c3-0194-1000-34f2-4a7680db7839","name":"","source":{"id":"465e4ecc-e3ab-33b1-a91b-f3b139336a2a","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"PutFile","comments":"","instanceIdentifier":"b28a3a75-0194-1000-609b-492b44ca0565"},"destination":{"id":"53c8ae35-abdc-3599-8092-09695bb182c6","type":"FUNNEL","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"Funnel","comments":"","instanceIdentifier":"b28b4b18-0194-1000-4569-bd1535e0c505"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"bdf36a9a-ca19-3fe4-a8b8-49063bd6b804","instanceIdentifier":"b287abda-0194-1000-e880-04ffb3ba42d0","name":"","source":{"id":"d2b9221f-7493-3321-8472-d3d66fe224df","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b27e90c0-0194-1000-d2a9-7ddbffcc7478"},"destination":{"id":"69176046-7097-3e0d-839f-dcc6a50db70e","type":"PROCESSOR","groupId":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579","name":"QueryRecord","comments":"","instanceIdentifier":"b28787a8-0194-1000-7c10-478e1bfde93e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"}],"labels":[],"funnels":[{"identifier":"53c8ae35-abdc-3599-8092-09695bb182c6","instanceIdentifier":"b28b4b18-0194-1000-4569-bd1535e0c505","position":{"x":56.0,"y":1464.0},"componentType":"FUNNEL","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"}],"controllerServices":[{"identifier":"0e432fab-0da2-3dea-b41e-3bbbb9c19245","instanceIdentifier":"b267d0aa-0194-1000-76b2-9644cc80517e","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"Timestamp Format":null,"schema-reference-reader":null,"Date Format":null,"schema-branch":null,"Max String Length":"20 MB","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"85e03764-ab5b-3b01-8771-5485b1137e7d","instanceIdentifier":"b2415efd-0194-1000-5388-6d891de06d5d","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"22ca1cf2-f058-3d08-b333-986a3e61fff7","instanceIdentifier":"b24e59cc-0194-1000-e85e-5bb214b9e0a0","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"218a1465-d9f1-3789-823d-9b9755ad2fd4","instanceIdentifier":"b25007a6-0194-1000-8a2f-fcffee986a11","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"562b5a8d-a290-33ff-b528-0fd80bbdbb43","instanceIdentifier":"b24b154a-0194-1000-9e73-801f8b3d7fae","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"98f93def-fae5-3148-bf6a-fa7bd83b2d9e","instanceIdentifier":"b241291b-0194-1000-c48f-c619e730207e","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"baccc501-a0f0-3c0d-8055-6eb1c84e39af","instanceIdentifier":"b24a84e2-0194-1000-9ff5-e10cd725d7d0","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"},{"identifier":"23fe5dcb-2f85-3c52-a8e8-7f4264cdf1ca","instanceIdentifier":"b24ff66d-0194-1000-dee3-5e3f6267eb12","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5634d6c-a9b6-30b3-a86e-5353e5ea5579"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}